@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

.resumecontainer
{
  display: flex;
  flex-direction: row;

  .whiteSide
  {
    width: 30%;
    background-color: white;
  }

  .blackSide
  {
    width: 70%;
    background-color: black;
    height: 100%;
  }

  @media (max-width: 767px)
  {
    flex-direction: column;

    .whiteSide, .blackSide
    {
      width: auto;
      height: auto;
    }

    .whiteSide {
      align-self: center;
    }
  }
}

.resumetext
{
  font-family: "EB Garamond", serif;
  background-color: black;
  color:white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 3.5rem;

  @media (max-width: 767px)
{

    padding: 1rem;

}


  p, li
  {
    font-family: Helvetica, Arial, sans-serif;

    strong
    {
      font-family: "EB Garamond", serif;
    }
  }

  h1
  {
    font-size: 3rem;
    text-align: center;
  }

  h2
  {
    font-size: 2.5rem;
    border-bottom: 1px solid white;
    width: 100%;
  }

  h3
  {
    font-size: 1.75rem;
  }

  h4
  {
    font-size: 1.2rem;
  }

  strong
  {
    font-weight: bold;
    color: black;
    background-color: #ddd;
    border-radius: 5px;
    padding: 3px;
  }

  li, p
  {
    color: #ccc;
  }

  small
  {
    font-size: 50%;
  }
}

.resumephoto
{
  
  margin-top: 25%;
  margin-bottom: auto;
  padding-right: 1rem;

  .zackengineer {
      padding-left: 20%;
      height: auto;
      display: flex;
      justify-content: flex-end;
  }

  @media (max-width: 767px)
  {
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 3%;

    .zackengineer {
      width: 40%;
      padding: 0;
      justify-content: center;
    }


  }
}

