@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import '../styles/mixins.module.scss';

.link
{
  color: #aaa;

  &:hover, &:visited, &:active, &:link
  {
    color: white;
    font-weight: bolder;
  }

  &:hover
  {
    text-decoration: underline;
  }
}

.zackdots {

  font-family: 'Rokkitt', serif;
  color: white;

  @include dotbackground(3px);

  @media (min-width: 750px) and (max-width:899px)
  {
    @include dotbackground(4px);
  }

  @media (min-width: 900px)
  {
    @include dotbackground(5px);
  }


  main
  {
    margin-top: 0;
    margin-left: 10%;
    width: 65%;
    min-width: 18.75rem;
  }
}

.blurb {
  background: rgba(0, 0, 0, .5);
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  left: -1rem;
}

.mainheader
{
  text-transform: uppercase;
  padding-top: 7%;

  h1
  {
    @include nospace;
    font-size: 8rem;
    line-height:70%;

    .firstname {
      letter-spacing: 0;
    }

    .lastname {
      letter-spacing: 6px;
    }
  }
  h2
  {
    @include nospace;
    font-size: 3.53rem;
    line-height:70%;
    margin-bottom: 2.5rem;

    .frontend {
      letter-spacing:2.5px;
    }

    .engineer
    {
      letter-spacing:8px;
    }

  }
}

.info
{
  line-height:120%;
  font-size: 1.3rem;
}

.landinglinks
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.moveDown {
  position: relative;
  top: .5rem;
}

.landinglink
{
  margin: auto 0;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: .5rem;
  border-radius: 4px;
  transition: color .3s, background-color .3s;
  cursor: pointer;


  &:hover, &:active
  {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &.resumelink
  {
    margin-left: .5rem;
  }
}


@media (max-width: 520px)
{
  .mainheader h1
  {
    font-size: 6.1rem;
  }

  .mainheader h2
  {
    font-size: 2.71rem;

    .jobtitle
    {
      letter-spacing:3.5px;
    }

  }
}

@media (max-width: 400px)
{
  .mainheader h1
  {
    font-size: 5rem;
  }

  .mainheader h2
  {
    font-size: 2.2rem;

    .jobtitle
    {
      letter-spacing:3px;
    }

  }
body#zackdots
  {
    background-size: 2px, 100% auto;
  }
}
