@mixin dotbackground($dotsize) {
  background-color: black;
  background-image: url('./images/dot2.png'), url('./images/zacknodots.jpg');
  background-attachment: fixed, fixed;
  background-position: top, top;
  background-repeat: repeat, no-repeat;
  background-size: $dotsize, 100% auto;
}

@mixin nospace {
  padding: 0;
  margin: 0;
}
